
.btn {
    display: inline-block;
    padding: 0.6em 1em;
    border: 0.2em solid #ffffff;
    border-radius: 2em;
    box-shadow: 3px 4px rgba(51, 51, 51, 0.15);
    text-decoration: none;
    font-size: 2em;
    color: inherit;
    font-weight: bold;
    cursor: pointer;
}

.btn_menuitem {
    padding: 0.3em 1em;
}

