
.header {
    background-color: #ff9100;
    padding: 0.2em;
}

.header a:visited {
    color: #FFFFFF;
}

.header-logo {
    color: #FFFFFF;
    font-size: 4em;
    font-weight: bold;
    text-shadow: 0.1em 0.1em 4px #999999;
}


